:root {
  --color-1: #084a74;
  --color-2: #112363;
  --color-3: #db1b3e;
  --color-4: #b90828;
}
html, body {
  font-family: "Poppins",sans-serif;
  margin: 0;
  padding: 0;
  color: #444;
  background: #fefafb;
  overflow-x: hidden !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 110px;
  padding: 0 30px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
  background: rgba(6, 12, 34, 0);
  overflow: hidden;
}
#header.header-scrolled, #header.header-inner {
  background: rgba(6, 12, 34, 0.9);
  height: 100px;
}
#header #logo {
  margin-left: 40px;
}
#header #logo a {
  text-decoration: none;
}
#header #logo img {
  height: 80px;
}
@media screen and (max-width: 576px) {
  #header #logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  text-decoration: none;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: var(--color-3);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 18px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: var(--color-4);
  text-decoration: none;
}
.back-to-top:hover i {
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/* --------------------
    Hero 
-------------------- */
.hero {
  height: 700px;
  background-image: url(../images/hero-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero .container .col-lg-8 {
  padding-left: 60px;
}
.hero .hero-text {
  margin-top: -5%;
}
.hero .hero-text h1 {
  font-weight: 700;
  font-style: italic;
  font-size: 78px;
  color: #fff;
}
.hero .hero-text h1 span {
  color: var(--color-3);
}
.hero .hero-text h3 {
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
}

@media screen and (max-width: 1399px) {
  .hero .hero-text h1 {
    font-size: 68px;
  }
}
@media screen and (max-width: 1199px) {
  .hero .hero-text h1 {
    font-size: 52px;
  }
}
@media screen and (max-width: 991px) {
  .hero .hero-text h1 {
    font-size: 66px;
  }
  .hero .container .col-lg-8 {
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .hero .hero-text h1 {
    font-size: 50px;
  }
  .hero .hero-text h3 {
    font-size: 20px;
  }  
}
@media screen and (max-width: 575px) {
  .hero .hero-text h1 {
    font-size: 30px;
  }
  .hero .container .hero-text {
    padding: 0px 30px;
  }
}

/* --------------------
    Women cards
-------------------- */
.women-cards {
  padding: 60px 0;
}
.women-cards .row {
  justify-content: center;
}
.women-cards .woman-card {
  margin: 10px 0 40px 0;
  position: relative;
  overflow: hidden;
}
.women-cards .woman-card:after {
  content: '';
  z-index: 10;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: #bbb;
  transition: 0.3s ease;
}
.women-cards .woman-card:hover:after {
  background-color: var(--color-3);
}
.women-cards .woman-card .image {
  overflow: hidden;
  filter: grayscale(100%);
  transition: 0.3s ease;
}
.women-cards .woman-card .image img {
  width: 100%;
}
.women-cards .woman-card:hover .image {
  filter:grayscale(0%);
}
.women-cards .woman-card .text {
  margin-top: 10px;
  text-align: center;
}
.women-cards .woman-card .text h5 {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-4)
}

@media (min-width: 576px) {
  .women-cards .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .women-cards .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .women-cards .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .women-cards .container {
    max-width: 1250px;
  }
}
@media (min-width: 1500px) {
  .women-cards .container {
    max-width: 1450px;
  }
}
.women-cards .col-lg-25 {
  max-width: 20%;
}
@media (max-width: 1200px) {
  .women-cards .col-lg-25 {
    max-width: 25%;
  }
}
@media (max-width: 992px) {
  .women-cards .col-lg-25 {
    max-width: 33.33%;
  }
  .women-cards .woman-card .text h5 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .women-cards .col-lg-25 {
    max-width: 50%;
  }
}
@media (max-width: 576px) {
  .women-cards .woman-card .text h5 {
    font-size: 16px;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #fff;
  background:  var(--color-2);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}
#footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 68px;
}
#footer .row {
  width: 100%;
}
#footer #copyright {
  margin-top: 8px;
}
#footer .social-links span {
  margin-right: 10px;
  font-weight: 500;
}
#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 26px;
}
#footer .social-links a:hover i {
  color: var(--color-3);
}

@media screen and (max-width: 992px) {
  #footer h6 {
    font-size: 13px;
    margin-top: 9.5px;
  }
  #footer {
    font-size: 13px;
  }
  #footer .social-links a {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  #footer .container {
    padding-bottom: 1px;
  }
  #footer .row {
    flex-direction: column-reverse;
    --bs-gutter-x: 0rem;
  }
  #footer .col-md-6 {
    margin: 5px 0;
  }
  #footer .social-links {
    margin-bottom: 0;
  }
  #footer .social-links a {
    margin-right: 0;
  }
}